* {
  margin: 0;
  background-color: rgb(13, 86, 104);
  color: white;

  .head {
    margin: center;
    text-align: center;
    margin-top: 10%;
  }

  .nav {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 24px;
    border-radius: 40px;
    border: none;
    cursor: pointer;

    font-size: 20px;
    font-weight: 700s;
    background-color: rgb(247, 249, 252);
    transition: all 120ms ease 0s;
    color: black;
    justify-content: space-between;
    text-decoration: none;
    margin: auto;
  }

  .link1 {
    color: black;
    background-color: white;
  }
  .link2 {
    color: black;
    background-color: white;
  }
  .link3 {
    color: black;
    background-color: white;
  }
  .link4 {
    color: black;
    background-color: white;
  }
}

.div {
  position: absolute;
  top: 32%;
  left: 25%;
  text-align: center;
  box-sizing: border-box;
  height: 50% !important;
  width: 50% !important;
}

.h1 {
  text-align: center;
  font-weight: 1000px;
  font-size: 100px;
  color: brown;
}
.h3 {
  text-align: center;
  bottom: 20%;
  top: 80%;
}
